<div class="testimonios">
  {{#each testimonio}}
    <div class="testimonios-card">
      <div class="testimonios-content">
        <p class="testimonios-text">"{{text}}"</p>
        <p class="testimonios-author">- {{author}}</p>
      </div>
    </div>
  {{/each}}
</div>
